<footer class="footer">
    <div class="container d-flex jc-between">
        <div>
            <ul class="footer-nav d-flex">
                <li><a href="#">首頁</a></li>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
            <div class="contact">
                <div>
                    <a href="#" class="d-flex ai-center">
                        <span class="material-symbols-outlined icon-call">call</span>
                        0800-000-000
                    </a>
                </div>
                <div>
                    <a href="#" class="d-flex ai-center">
                        <span class="material-symbols-outlined icon-call">home</span>
                        glasses@business.com
                    </a>
                </div>
            </div>
        </div>
        <ul class="social d-flex">
            <li class="socical-item">
                <img src="/assets/images/ic-social-fb.png" alt="FB">
            </li>
            <li class="socical-item">
                <img src="/assets/images/ic_social_ig.png" alt="IG">
            </li>
            <li class="socical-item">
                <img src="/assets/images/ic_social_line.png" alt="Line">
            </li>
        </ul>
    </div>

    <hr class="hline" />
    <div class="container d-flex jc-between wrap">
        <div class="copyright">
            Copyright © 2020 Glasses.All rights reserved.
        </div>
        <ul class="legal-links d-flex wrap">
            <li class="legal-item"><a href="#">隱私權政策</a></li>
            <li class="legal-item"><a href="#">服務條款</a></li>
        </ul>
    </div>
</footer>