<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

<header class="header">
    <div class="container d-flex jc-sb wrap">
        <div class="logo">
            <img class="logo-img" src="/assets/images/logo-white.png" alt="logo">
        </div>
        <ul class="nav d-flex jc-between ai-center wrap">
            <li class="nav-item text-center"><a href="index.html">系列鏡框</a></li>
            <li class="nav-item text-center"><a href="#">門市據點</a></li>
            <li class="nav-item text-center"><a href="#">部落格</a></li>
            <li class="nav-item text-center"><a href="#">常見問題</a></li>
        </ul>
    </div>
</header>