<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet">
</head>

<body>
    <%- include('./layout/header') -%>

    <section class="banner">
        <div class="container">
            <ul class="row d-flex jc-between">
                <li class="banner-item text-center"><a href="index.html">OPTICAL</a></li>
                <li class="banner-item text-center banner-active">SUNGLASSES</li>
                <li class="banner-item text-center">FUNCTIONAL</li>
            </ul>
        </div>
        <ul class="banner-img d-flex">
            <li><img src="/assets/images/product-header-3.png" alt="project-header-1"></li>
            <li><img src="/assets/images/product-header-4.png" alt="project-header-2"></li>
        </ul>
    </section>

    <section class="product">
        <div class="container">
            <h2 class="product-h2 text-center">2020 NEW COLLECTION</h2>
            <h3 class="product-h3 text-center">賽璐珞鈦金屬混合鏡框</h3>
            <ul class="product-list d-flex wrap">
                <li class="product-item-sun">
                    <img src="/assets/images/product-7.png" alt="product-7">
                    <div class="product-info d-flex jc-between">
                        <div>BJ41600S</div>
                        <div class="product-price">NTD3,490</div>
                    </div>
                    <div class="product-color d-flex">
                        <div class="color-box1"></div>
                        <div class="color-box2"></div>
                    </div>
                </li>
                <li class="product-item-sun">
                    <img src="/assets/images/product-8.png" alt="product-8">
                    <div class="product-info d-flex jc-between">
                        <div>BJ41600S</div>
                        <div class="product-price">NTD3,490</div>
                    </div>
                    <div class="product-color d-flex">
                        <div class="color-box1"></div>
                        <div class="color-box2"></div>
                    </div>
                </li>
                <li class="product-item-sun">
                    <img src="/assets/images/product-9.png" alt="product-9">
                    <div class="product-info d-flex jc-between">
                        <div>BJ41600S</div>
                        <div class="product-price">NTD3,490</div>
                    </div>
                    <div class="product-color d-flex">
                        <div class="color-box1"></div>
                        <div class="color-box2"></div>
                    </div>
                </li>
                <li class="product-item-sun">
                    <img src="/assets/images/product-10.png" alt="product-10">
                    <div class="product-info d-flex jc-between">
                        <div>BJ41600S</div>
                        <div class="product-price">NTD3,490</div>
                    </div>
                    <div class="product-color d-flex">
                        <div class="color-box1"></div>
                        <div class="color-box2"></div>
                    </div>
                </li>                
                <li class="product-item-sun">
                    <img src="/assets/images/product-11.png" alt="product-11">
                    <div class="product-info d-flex jc-between">
                        <div>BJ41600S</div>
                        <div class="product-price">NTD3,490</div>
                    </div>
                    <div class="product-color d-flex">
                        <div class="color-box1"></div>
                        <div class="color-box2"></div>
                    </div>
                </li>
                <li class="product-item-sun">
                    <img src="/assets/images/product-12.png" alt="product-12">
                    <div class="product-info d-flex jc-between">
                        <div>BJ41600S</div>
                        <div class="product-price">NTD3,490</div>
                    </div>
                    <div class="product-color d-flex">
                        <div class="color-box1"></div>
                        <div class="color-box2"></div>
                    </div>
                </li>                
            </ul>
        </div>
    </section>

    <section class="pagination">
        <div class="container">
            <ul class="pagination-list d-flex jc-center">
                <li class="pagination-item"><a href="#">上一頁</a></li>
                <li class="pagination-item page-active"><a href="#">2</a></li>
                <li class="pagination-item"><a href="#">3</a></li>
                <li class="pagination-item"><a href="#">4</a></li>
                <li class="pagination-item"><a href="#">5</a></li>
                <li class="pagination-item page-next"><a href="#">下一頁</a></li>
            </ul>
    </section>

    <%- include('./layout/footer') -%>

    <script type="module" src="../main.js"></script>
</body>

</html>